# Auto detect text files and perform LF normalization
* text=auto

# Unity files
*.cs text diff=csharp
*.cginc text
*.shader text

# Unity YAML (always LF)
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.mat text eol=lf

# 3D models
*.fbx binary
*.obj binary
*.blend binary

# Images
*.png binary
*.jpg binary
*.tga binary
*.psd binary

# Audio
*.mp3 binary
*.wav binary
*.ogg binary

# Fonts
*.ttf binary
*.otf binary